pre.shell_box
{
    background-color: black;
    color: lightgray;
}

pre.ide_box
{
    background-color: white;
    color: black;
    border:1px solid black;
}

div.warning_box
{
    background: #fdc;
    border: 2px solid #d00;
    color: #500;
    padding: .5em;
    margin: 1em 0;
}

div.important_box
{
    background: #ffefa5;
    border: 2px solid #aaa072;
    color: black;
    padding: .5em;
    margin: 1em 0;
}

div.info_box
{
    background: #ffefa5;
    border: 2px solid #aaa072;
    color: black;
    padding: .5em;
    margin: 1em 0;
}

/*#content.error .message, div.system-message {
}*/
