pre.shell_box
{
    background-color: black;
    color: lightgray;
}

pre.ide_box
{
    background-color: white;
    color: black;
    border:1px solid black;
}

/* Pretty display of menu entries. */

span.menu_trace
{
    display: inline-block;
}

span.menu_trace span.arrow
{
    position: relative;
    top: -2.5px;
}

span.menu_trace span.menu_item
{
    display: inline-block;
    padding: 0px 4px;
    border: 2px solid gray;
    background: #f0f0f0;
    border-left-color: gray;
    border-top-color: gray;
    border-right-color: black;
    border-bottom-color: black;

    /* CSS's take on round borders. */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px /* future proofing */
    -khtml-border-radius: 2px; /* for old Konqueror browsers */
}

/* Large Boxes */

body { padding: 4em; }
dt { font-weight: 700; }
dd { margin-left: 1em; }

.box {
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    margin: 1em;
    padding: 0.5em 0.5em 0.5em 70px;
    min-height: 55px;
    background-repeat: no-repeat;
    background-position: 10px 10px;    
    
  -webkit-border-radius: 3px;
          border-radius: 3px;

  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
    
    
  -webkit-box-shadow: 0px 1px 1px 0px #a3a3a3;
          box-shadow: 0px 1px 1px 0px #a3a3a3;


}

.warning.box
{
    background-color: #FFBABA;
    border-color: #D8000C;
    background-image: url(../dialog-warning.png);
}

.important.box
{
    background-color: rgba(254, 239, 179, 0.7);
    border-color: rgba(159, 96, 0, 0.7);
    background-image: url(../emblem-important.png);
}

.info.box
{
    background-color: rgba(189, 229, 248, 0.5);
    border-color: rgba(0, 82, 155, 0.5);
    background-image: url(../dialog-information.png);
}

.assignment.box
{
    background-color: #EEEEDD;
    border-color: #CBCB99;
    background-image: url(../Accessories-text-editor.png);
}
​
div.warning_box
{
    padding: .5em .5em .5em 70px; /* space for image */

    background: #fdc;
    border: 2px solid #d00;
    color: #500;
    margin: 1em 0;

    /* CSS's take on round borders. */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

div.important_box
{
    padding: .5em .5em .5em 70px; /* space for image */

    background: #fff3d3;
    border: 2px solid #efe3c3;
    color: black;
    margin: 1em 0;

    /* CSS's take on round borders. */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

div.info_box
{
    padding: .5em .5em .5em 70px; /* space for image */

    background: #F0F0FF;
    border: 2px solid #F0F0F0;
    color: black;
    margin: 1em 0;

    /* CSS's take on round borders. */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

div.assignment_box
{
    padding: .5em .5em .5em 70px;
    background-color: #eed;

    /* CSS's take on round borders. */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

/* Small text boxes. */

span.text_icon
{
    font-size: .8em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
    font-weight: bolder;
}

span.text_icon.green
{
    padding: 1px 5px;
    background-color: #10a931;
    color: white;
}

span.text_icon.red
{
    padding: 1px 5px;
    background-color: #BB0000;
    color: white;
}

span.text_icon.yellow
{
    padding: 1px 5px;
    background-color: #FFEFA5;
    color: black;
}

span.text_icon.black
{
    padding: 1px 5px;
    background-color: black;
    color: white;
}

span.text_icon.blue
{
    padding: 1px 5px;
    background-color: blue;
    color: white;
}

span.text_icon.gray
{
    padding: 1px 5px;
    background-color: gray;
    color: white;
}
