pre.shell_box
{
    background-color: black;
    color: lightgray;
}

pre.ide_box
{
    background-color: white;
    color: black;
    border:1px solid black;
}

/* Pretty display of menu entries. */

span.menu_trace
{
    display: inline-block;
}

span.menu_trace arrow
{
    display: inline-block;
    vertical-align: text-top;
}

span.menu_trace span.menu_item
{
    line-height: 1.4em;
    display: inline-block;
    padding: 2px 4px;
    border: 2px solid gray;
    background: #f0f0f0;
    border-left-color: gray;
    border-top-color: gray;
    border-right-color: black;
    border-bottom-color: black;

    /* CSS's take on round borders. */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

/* Large Boxes */

div.warning_box
{
    padding: .5em .5em .5em 70px; /* space for image */

    background: #fdc;
    border: 2px solid #d00;
    color: #500;
    margin: 1em 0;

    /* CSS's take on round borders. */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

div.important_box
{
    padding: .5em .5em .5em 70px; /* space for image */

    background: #fff3d3;
    border: 2px solid #efe3c3;
    color: black;
    margin: 1em 0;

    /* CSS's take on round borders. */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

div.info_box
{
    padding: .5em .5em .5em 70px; /* space for image */

    background: #F0F0FF;
    border: 2px solid #F0F0F0;
    color: black;
    margin: 1em 0;

    /* CSS's take on round borders. */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

div.assignment_box
{
    padding: .5em .5em .5em 70px;
    background-color: #eed;

    /* CSS's take on round borders. */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

div.warning_box img,
div.important_box img,
div.info_box img,
div.assignment_box img
{
    margin-left: -62px;
    margin-top: 4px;
}

/* Small text boxes. */

span.text_icon
{
    font-size: .8em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
    font-weight: bolder;
}

span.text_icon.green
{
    padding: 1px 5px;
    background-color: #10a931;
    color: white;
}

span.text_icon.red
{
    padding: 1px 5px;
    background-color: #BB0000;
    color: white;
}

span.text_icon.yellow
{
    padding: 1px 5px;
    background-color: #FFEFA5;
    color: black;
}

span.text_icon.black
{
    padding: 1px 5px;
    background-color: black;
    color: white;
}

span.text_icon.blue
{
    padding: 1px 5px;
    background-color: blue;
    color: white;
}

span.text_icon.gray
{
    padding: 1px 5px;
    background-color: gray;
    color: white;
}